
.header{
	/*background-color: #02111B;
	height: 5rem;
	left: 0;
	top: 0;
	right: 0;
	color: white;*/
	background:#02111B;
	color: white;
	height: 5rem;
	position: fixed;
	left: 0;
	top:  0;
	right: 0;

}
a{
	color: white;
	text-decoration: none;
}
.navi ul{
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: right;
	overflow: hidden;
}
.navi ul li{
	display: inline-block;
	font-family: Arial, sans-serif;
	font-size: 20px;
}
.navi ul li a{
	display: block;
	padding: 0.5rem .5rem;
	transition: 0.3s linear;
}
.navi ul li a:hover{
	background-color: #C0C0C0;
}
h1{
	line-height: 1.3rem;
	font-size: 2rem;
}
.nc{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
p{
	color: white;
	text-align: center;
	font-size: 24px;


}
.main{
	background-color: #2F3061;
	border: 2px solid rgb(108,207,246);
	margin: 2rem;
}
.main ul{
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
	overflow: hidden;
}
.main ul li{
	display: inline-block;
	font-family: Arial, sans-serif;
	font-size: 20px;

}
.main ul li a{
	display: block;
	padding: 0.5rem .5rem;
	transition: 0.3s linear;
}
.main ul li a:hover{
	background-color: #44FFD2;
}
.forms{
	background-color: #3A435E;
	border: 2px solid rgb(108,207,246);
	margin: 2rem;
	margin-left: 30%;
	margin-right: 30%;
	height: 15rem;
}
form{
	padding: 4.2rem;
	font-size: 16px;
	color: white;
	text-align: center;
}
.forms2{
	background-color: #3A435E;
	border: 2px solid rgb(108,207,246);
	margin: 2rem;
	margin-left: 30%;
	margin-right: 30%;
	height: 10rem;
}
.forms3{
	background-color: #3A435E;
	border: 2px solid rgb(108,207,246);
	margin: 2rem;
	margin-left: 30%;
	margin-right: 30%;
	height: 10rem;
}
.table{
	background-color: #3A435E;
	border: 2px solid rgb(108,207,246);
	margin: 2rem;
	margin-left: 30%;
	margin-right: 30%;
	height: 15rem;
}
table{
	text-align: center;
	margin-left: 5rem;
	margin-right: 4rem;
	padding: 1.2rem;
}
th, td{
	width: 25%;
   text-align: left;
   vertical-align: top;
   border: 1px solid #000;
   border-collapse: collapse;
   background: #fff;
   color: #000;
}
th{
	background:#44FFD2;	
}